<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4 col-xl-6">
      <%= simple_form_for(job) do |f| %>
      <%= f.input :company %>
      <%= f.input :role %>
      <%= f.input :level %>
      <%= f.input :description %>
      <%= f.input :status %>
      <%= f.input :type %>
      <%= f.input :salary %>
      <%= f.input :applycation_link %>
      <% end %>
  <% end %>
    </div>
  </div>
</div>
