<li id="<%=job.id%>" column="<%= column.id %>" position="<%= job.position %>" class="list-item text-decoration-none"
data-search-target="cards" data-keywords="<%= job.search_fields%>" data-role="<%= job.role%>"
data-level="<%= job.level%>"
data-job_type="<%= job.job_type%>"
data-sortable-target="listItem">
  <h4><%= job.company %> </h5>
  <h6><%= job.role %> </h6>
  <h6><%= job.job_type %> </h6>
  <h6>R$ <%= job.salary %> </h6>
  <button type="button" class="add-card-button-edit float-end" data-action="click->sortable#editJob" data-sortable-target="button"
    data-bs-toggle="modal"
    data-bs-target="#jobModal"
    data-bs-job-id="<%=job.id%>"
    data-bs-job-company="<%=job.company%>"
    data-bs-job-salary="<%=job.salary%>"
    data-bs-job-role="<%=job.role%>"
    data-bs-job-level="<%=job.level%>"
    data-bs-job-description="<%=job.description%>"
    data-bs-job-job-type="<%=job.job_type%>"
    data-bs-job-application-link="<%=job.application_link%>"
    data-bs-route="edit"><i class="fa-sharp fa-regular fa-pen-to-square fa-sm"></i>
  </button>
  <%=link_to job_path(job), data:{turbo_method: :delete} do%>
  <i class="fa-solid fa-trash-can float-end"></i>
  <%end%>
</li>

