<h1> Vagas </h1>


<%= render "kanban", jobs: @jobs %>
<% @jobs.each do |job| %>
<h3>Empresa: <%= job.company %> </h3>
<h3>Status: <%= job.status %> </h3>
<h3>Salário: R$ <%= job.salary %> </h3>
<h3>-------------------</h3>
<% end %>

<div>
  <h2>Tests</h2>
  <% @tests.each do |test| %>
    <%= render 'jobs/card', job: test %>
  <% end %>
</div>

<div>
  <h2>Replies</h2>
  <% @replies.each do |reply| %>
    <%= render 'jobs/card', job: reply %>
  <% end %>
</div>


<%= render "kanban" %>
