<div class="container-calendar">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4 col-xl-6">
      <%= simple_form_for(@calendar_events) do |f| %>
      <%= f.input :name, placeholder: "write your meeting name.." %>
      <%= f.input :description, placeholder: "maximum 40 characters.." %>
      <%= f.input :starts_at %>
      <%= f.input :ends_at %>
      <%# <%= f.association :job %>
      <%= f.submit "Submit", class: "btn button_one"%>
      <%= link_to "Cancel", calendar_path, method: :get, class: "btn button_one" %>
      <% end %>
    </div>
  </div>
</div>
