<!-- Masthead -->
<header class="masthead">

	<div class="boards-menu">
		<div class="board-search">
			<input type="search" class="board-search-input" aria-label="Board Search">
			<i class="fas fa-search search-icon" aria-hidden="true"></i>
		</div>
	</div>

	<div class="user-settings">

		<a class="user-settings-btn" aria-label="Create" data-action="click->add_a_list#add_a_list">
			<i class="fas fa-plus" aria-hidden="true"></i>
			 Add a list
		</a>

	</div>

</header>
<!-- End of masthead -->

<!-- Lists container -->
<br>
<div style="width: 100%" data-controller="job">
    <section class="lists-container">
      <% columns.each do |column| %>
          <div class="list" data-controller="job" >
            <h3 class="list-title"><%= column.name %></h3>
            <span class="addcard"><%= link_to "Add Card", new_column_job_path(column) %></span>
            <ul class="list-items" data-job-target="listItems" >
              <% column.jobs.each do |job| %>
              <li>
                  <h3>Empresa: <%= job.company %> </h3>
                  <h3>Status: <%= job.status %> </h3>
                  <h3>Salário: R$ <%= job.salary %> </h3>
                  <h3>-------------------</h3>
              </li>
              <% end %>
            </ul>
            <button class="add-card-btn btn-cl" data-action="click->job#addCard">Add note</button>
          </div>
      <% end %>
    </section>
</div>
<!-- End of lists container -->
