<!-- Masthead -->
<div data-controller="search">

  <header class="masthead">

    <div class="boards-menu">

      <button class="boards-btn btn-cl"><i class="fab fa-trello boards-btn-icon"></i>HIRED</button>

      <div class="board-search">
        <input type="search" class="board-search-input" aria-label="Board Search" data-search-target="input" data-action="input->search#search">
        <i class="fas fa-search search-icon" aria-hidden="true"></i>
      </div>
      <div>
        <%= select_tag(:role, options_for_select(Job::ROLE), {data: { action: "change->search#searchRole" }, prompt: "Filter role"}) %>
      </div>
    </div>

    <div class="user-settings">

      <a class="user-settings-btn" aria-label="Create" data-action="click->add_a_list#add_a_list">
        <i class="fas fa-plus" aria-hidden="true"></i>
        Add a list
      </a>

    </div>

  </header>
  <!-- End of masthead -->

  <!-- Lists container -->
  <br>
  <div style="width: 100%" data-controller="job">
    <section class="lists-container">
      <% columns.each do |column| %>
        <div class="list">
          <h3 class="list-title"><%= column.name %></h3>
          <span><%= link_to "Add Card", new_column_job_path(column) %></span>
          <ul class="list-items" data-job-target="listItems" >
            <% column.jobs.each do |job| %>
              <li data-search-target="cards" data-keywords="<%= job.search_fields%>" data-role="<%= job.role%>">
                <h3>Empresa: <%= job.company %> </h3>
                <h3>Status: <%= job.status %> </h3>
                <h3>Salário: R$ <%= job.salary %> </h3>
                <h3>-------------------</h3>
              </li>
            <% end %>
          </ul>
          <button class="add-card-btn btn-cl" data-action="click->job#addCard">Add note</button>
        </div>
      <% end %>
    </section>
  </div>
  <!-- End of lists container -->
</div>
