<!-- Masthead -->
<div data-controller="search">

  <header class="masthead">

    <div class="boards-menu">

      <button class="boards-btn btn-cl"><i class="fab fa-trello boards-btn-icon"></i>HIRED</button>

      <div class="board-search">
        <input type="search" class="board-search-input" aria-label="Board Search" data-search-target="input" data-action="input->search#search">
        <i class="fas fa-search search-icon" aria-hidden="true"></i>
      </div>
      <div>
        <%= select_tag(:role, options_for_select(Job::ROLE), {data: { action: "change->search#searchRole" }, prompt: "Filter role"}) %>
      </div>
    </div>

    <div class="user-settings">

      <a class="user-settings-btn" aria-label="Create" data-action="click->add_a_list#add_a_list">
        <i class="fas fa-plus" aria-hidden="true"></i>
        Add a list
      </a>

    </div>

  </header>
  <!-- End of masthead -->

<!-- Lists container -->
<br>
<div style="width: 100%">
    <section class="lists-container">

      <% columns.each do |column| %>
          <div class="list" id="<%= column.id %>">
              <%= link_to new_column_job_path(column), class: "ml-25" do %>
                <i class="fas fa-regular fa-square-caret-down fa-2x"></i>
              <% end %>
            <h3 class="list-title"><%= column.name %></h3>
            <ul id="list-<%= column.id %>" class="list-items">
              <% column.jobs.order(:position).each do |job| %>
                <%= link_to edit_job_path(job), id: job.id, column: column.id, class: "list-item" do %>
                  <li>
                      <h3>Empresa: <%= job.company %> </h3>
                      <h3>Status: <%= job.status %> </h3>
                      <h3>Salário: R$ <%= job.salary %> </h3>
                      <h3>-------------------</h3>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
      <% end %>
    </section>
  </div>
  <!-- End of lists container -->
</div>


<script>
    var items = document.getElementsByClassName("list-item");
    var clickedTarget = null;
    var droppedTarget = null;

    var move = (id, columnId) => {
      const url = `/move/${id}`;
      const data = { column_id: columnId };

      fetch(url, {
        method: "PATCH",
        headers: {
          "Content-Type": "application/json",
          "X-CSRF-Token": document.querySelector('meta[name="csrf-token"]').content,
        },
        body: JSON.stringify(data),
      })
    }
    
    for (item of items) {
      item.addEventListener("mousedown", (event) => {
        event.preventDefault();
        const clickedItem = event.target.parentElement.parentElement;

        if (clickedItem.tagName == "A" && !clickedTarget) {
          droppedTarget = null;
          clickedTarget = clickedItem;
        }
      });

      document.addEventListener("mouseup", (event) => {
        let targetList = event.target;
        let foundParent = false;

        while (!foundParent) {
          try {
            const tag = targetList.tagName;
            // if (tag == "LI") {
            //   const elementHeight = targetList.clientHeight;
            // }
          } catch (error) {
            break;
          }

          if (targetList.tagName == "DIV" && targetList.className == "list") {
            foundParent = true;
          } else {
            try {
              targetList = targetList.parentElement;
            } catch (error) {
              break;
            }
          }
        }

        if (foundParent && !droppedTarget && clickedTarget) {
          droppedTarget = targetList;
          const droppedColumn = document.getElementById(`list-${targetList.id}`);
          const oldList = clickedTarget.parentElement;

          droppedColumn.appendChild(clickedTarget);
          move(clickedTarget.id, targetList.id)
          
          clickedTarget = null;
        }
      });
    }
</script>

<!-- End of lists container -->


  <%# Launch static backdrop modal %>

<!-- Button trigger modal
              <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              </button> -->
<!-- Modal NEW
<div class="modal fade" id="staticNEW" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div> -->
