<!-- Masthead -->
<div data-controller="search">
  
  <header class="masthead">

    <div class="boards-menu">

      <div class="role-filter">
        <%= select_tag(:role, options_for_select(Job::ROLE), {data: { action: "change->search#searchRole" }, prompt: "Filter role"}) %>
        <input id="salary" type="range" min="0" max="10000" step="any" />
        <p>Salary <output id="value"></output></p>
      </div>

      <div class="board-search">
        <input type="search" class="board-search-input" placeholder="Input search here..." aria-label="Board Search" data-search-target="input" data-action="input->search#search">
        <i class="fas fa-search search-icon" aria-hidden="true"></i>
      </div>
      
    </div>

  </header>
    <div data-controller="dark-light" data-dark-light-mode-value="light" class="theme p-3">
      <button data-action="click->dark-light#toggleMode" class="b-toggle">
        <i data-dark-light-target="icon" class="fa-regular fa-sun"></i>
      </button>


  <!-- End of masthead -->

<!-- Lists container -->
<br>
<div style="width: 100%">
    <section class="lists-container">
      <% columns.each do |column| %>
          <div class="list" id="<%= column.id %>">
            <h3 class="list-title"><%= column.name %><button type="button" id="<%=column.id%>" 
            class="add-card-button-top float-end" data-bs-toggle="modal" data-bs-target="#jobModal" 
            data-bs-column="<%=column.id%>" data-bs-column-name="<%=column.name%>" 
            data-bs-route="add"><i class="fa-solid fa-plus"></i></button></h3>
            <ul id="list-<%= column.id %>" class="list-items" data-controller="sortable">
              <% column.jobs.order(:position).each do |job| %>
                <%= render "jobs/job", job: job, column: column %>
              <% end %>
            </ul>
          </div>
      <% end %>
    </section>
  </div>
  <!-- End of lists container -->
</div>


<div class="modal fade" id="jobModal" tabindex="-1" aria-labelledby="jobModalLabel" aria-hidden="true" data-controller="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 data-modal-target="title" class="modal-title fs-5" id="jobModalLabel">New Job</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-4 col-xl-6">
              <%= simple_form_for(:job, url:"/columns/:column_id/jobs", data: { modal_target: "form"}) do |f| %>
                <%= f.input :company %>
                <%= f.input :role %>
                <%= f.input :level %>
                <%= f.input :description %>
                <%= f.input :job_type %>
                <%= f.input :salary %>
                <%= f.input :application_link %>
                <%= f.button_button t(".submit"), name: "Confirm", class: "btn btn-flat" %>
              <% end %>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%# <button type="button" class="btn btn-primary">Send message</button> %>
      </div>
    </div>
  </div>
</div>

